@import "animations";

body {
  background: #eee;
}

$gutter: 20px;

.linked-panel {
  background: #fff;
  box-shadow: 0 2px 2px 1px #ddd;
  border-radius: 2px;
  padding: $gutter;
  position: relative;
  cursor: pointer;
  display: block;
}

a.linked-panel {
  color: inherit;
}

a.linked-panel:hover {
  text-decoration: none;
}

.linked-panel .linked-panel-title {
  font-size: 30px;
  font-weight: bold;
}

.linked-panel.linked-panel-with-icon .linked-panel-title {
  font-size: 20px;
}

.linked-panel .linked-panel-subtitle {
  font-size: 80%;
}


.linked-panel .linked-panel-navigation-clue {
  position: absolute;
  right: $gutter;
  bottom: $gutter;
  color: #aaa;
}

.linked-panel .linked-panel-edit, .linked-panel .linked-panel-navigation-clue {
  position: absolute;
  bottom: 0;
  color: #aaa;
  padding: $gutter;
  background: #fff;
  border: none;
  cursor: pointer;
}

.linked-panel .linked-panel-edit {
  left: 0;
}

.linked-panel .linked-panel-navigation-clue {
  right: 0;
}

// Generic
.absolute-y-center {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.absolute-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.icon-circle {
  font-size: 20px;
  overflow: hidden;
  background: #eee;
  display: inline-block;
  padding: 20px;
  border-radius: 100px;
  text-align: center;
  margin-bottom: 20px;
}

.pointer {
  cursor: pointer;
}

.input-cross {
  @extend .absolute-y-center;
  right: 0.75rem * 1.5; // 0.75 is the padding in the input
  color: #ccc;
  z-index: 1000;
}