@import "animations.scss";
@import "linked-panel.scss";

body {
  background: #eee;
}


.absolute-y-center {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.absolute-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.icon-circle {
  font-size: 20px;
  overflow: hidden;
  background: #eee;
  display: inline-block;
  border-radius: 100px;
  text-align: center;
  position: relative;
  height: 61px;
  width: 61px;

  .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.pointer {
  cursor: pointer;
}

.input-cross {
  @extend .absolute-y-center;
  right: 0.75rem * 1.5; // 0.75 is the padding in the input
  color: #ccc;
  z-index: 1000;
}


.comparison__item {
  box-shadow: 0 2px 2px 1px #ddd;
  border-radius: 3px;

  &__left {
    border-radius: 3px 0 0 3px;
  }

  &__right {
    border-radius: 0 3px 3px 0;
  }
}